python-telegram-bot==21.4
yt-dlp
openai-whisper
transformers==4.41.2
torch==2.2 --extra-index-url https://download.pytorch.org/whl/cpu
sentencepiece
accelerate
edge-tts
ffmpeg-python
google-generativeai
